<div class="container mx-auto">
  <h2 class="text-2xl font-bold mb-4">Lista de Eventos</h2>
  <ul *ngIf="eventos.length">
    <li *ngFor="let evento of eventos" class="border p-4 mb-4">
      <h3 class="text-xl font-semibold">{{ evento.nombre }}</h3>
      <p>{{ evento.descripcion }}</p>
      <p><strong>Fecha:</strong> {{ evento.fechaHora | date }}</p>
      <p><strong>Ubicación:</strong> {{ evento.ubicacion }}</p>
      <p><strong>Capacidad:</strong> {{ evento.capacidadMaxima }}</p>
      <a
        [routerLink]="['/eventos/detalle', evento.id]"
        class="text-blue-500 hover:underline"
        >Ver más</a
      >
    </li>
  </ul>
</div>
